<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="sport.properties"/>

    <bean id="fortuneService"
          class="com.laca.springdemo.service.LuckyFortuneService">
    </bean>

    <bean id="baseballCoach"
          class="com.laca.springdemo.coach.BaseballCoach"
          scope="singleton">
        <constructor-arg ref="fortuneService"/>
    </bean>
    <bean id="lolCoach"
          class="com.laca.springdemo.coach.LolCoach">
        <constructor-arg ref="fortuneService"/>
        <constructor-arg value="${lol.team}"/>
    </bean>

    <bean id="trackCoach"
          class="com.laca.springdemo.coach.TrackCoach">
        <property name="fortuneService" ref="fortuneService"/>
        <property name="team" value="49ers"/>
    </bean>
</beans>
