# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\God_F\Google Drive\06 Current Learnings\Progmasters\gitrepo\education\spring_hibernate_for_beginners\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
